* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: #0000;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: var(--border-radius-rounded);
    }

    button {
        &:hover {
            scale: 1.04;

            &:active {
                scale: 0.96;
            }
        }
    }
}

input,
button,
textarea,
select {
    font: inherit;
    text-transform: inherit;
}

body {
    font-family: var(--font);
    text-transform: var(--text-transform);
    background: var(--background);
    color: var(--text);
    line-height: 1.6;
    min-height: 100dvh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background-design);
    pointer-events: none;
    z-index: -1;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    pointer-events: none;

    .logo {
        height: 52px;
        width: 52px;
        border-radius: var(--border-radius-inner);
        backdrop-filter: var(--blur);
        background: var(--element-background);
        border: var(--element-border);
    }

    .sidebarToggle {
        min-width: 52px;
        min-height: 52px;
        background: var(--element-background);
        border: var(--element-border);
        border-radius: var(--border-radius-inner);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: var(--transition);
        backdrop-filter: var(--blur);
        position: relative;
        pointer-events: auto;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--text);
            transition: var(--transition);
            z-index: 1;
        }
    }

    .sidebarToggle:hover {
        background: var(--element-background-hover);
        border-color: var(--element-border-hover);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
    transition: var(--transition-main);
    min-height: 100dvh;

    .searchArea {
        margin-top: 15px;
        width: 350px;
        position: relative;
        z-index: 2;
        position: sticky;
        top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--element-background);
        border: var(--element-border);
        border-radius: var(--border-radius-rounded);
        transition: var(--transition);
        gap: 10px;
        padding: 0px 7px 0px 16px;
        backdrop-filter: var(--blur);

        &:has(#searchQuery:focus) {
            background: var(--element-background-hover);
            border-color: var(--element-border-hover);
        }

        #searchQuery {
            background: #0000;
            border: unset;
            height: 52px;
            font-size: 16px;
            color: var(--text);
            transition: var(--transition);
            outline: none;
            z-index: 2;
            flex: 1 1 auto;
            min-width: 1px;
            /* none does nothing so 1px it is, otherwise the search will stretch out the provider button and search icon beyond its width*/
        }

        #searchQuery::placeholder {
            color: var(--text-semi);
        }

        #searchIcon {
            width: 20px;
            height: 20px;
            stroke: var(--text-semi);
            transition: var(--transition);
            z-index: 1;
            pointer-events: none;
            flex: 0 0 auto;
        }

        #providerButton {
            width: 40px;
            height: 40px;
            border-radius: var(--border-radius-rounded);
            transition: var(--transition);
            background: var(--element-background);
            border: var(--element-border);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            backdrop-filter: var(--blur);
            z-index: 2;
            opacity: 1;
            flex: 0 0 auto;

            img {
                max-width: 80%;
                max-height: 80%;
            }

            &:hover {
                background: var(--element-background-hover);
                border-color: var(--element-border-hover);
            }
        }

    }

    #providerPicker {
        z-index: 1;
        position: absolute;
        position: fixed;
        top: -300px;
        padding-top: 80px;
        padding-bottom: 10px;
        right: 50%;
        transform: translateX(50%);
        width: 370px;
        height: min-content;
        max-height: 300px;
        border-radius: 0px 0px var(--border-radius-outer) var(--border-radius-outer);
        background: var(--sidebar-background);
        border: var(--element-border);
        backdrop-filter: var(--blur);
        transition: var(--transition);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        overflow: auto;

        .provider {
            width: 95%;
            background: var(--element-background);
            border: var(--element-border);
            border-radius: var(--border-radius-inner);
            padding: 2px;
            padding-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            height: 60px;
            transition: var(--transition);

            img {
                height: 90%;
                width: auto;
            }

            &:hover {
                background: var(--element-background-hover);
                border-color: var(--element-border-hover);
                cursor: pointer;
                scale: 1.01;

                &:active {
                    scale: 0.99;
                }
            }
        }

        &.open {
            top: -1px;
            transition: var(--transition);
        }
    }

    #searchResults {
        flex: 1;
        width: 100%;
        padding: 24px;
        padding-bottom: 0px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: var(--transition);

        .cardContainer {
            max-width: 1400px;
            /* or 80%, both work fine */
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 24px;
            padding-bottom: 40px;

            .card {
                position: relative;
                display: flex;
                background: var(--element-background);
                border: var(--element-border);
                border-radius: var(--border-radius-outer);
                overflow: hidden;
                backdrop-filter: var(--blur);
                transition: var(--transition);
                cursor: pointer;
                /* i REALLY want to make sure the cards are not weirdly scaled */
                min-height: 375px;
                height: 375px;
                max-height: 375px;
                min-width: 250px;
                width: 250px;
                max-width: 250px;
                animation: var(--card-animation);

                &:hover {
                    border-color: var(--element-border-hover);
                    scale: 1.007;

                    &:active {
                        scale: 0.993;
                    }

                    .downloadButton {
                        opacity: 1;
                        scale: 1;
                        transform: translateY(0);
                    }

                    img {
                        scale: 1.05;
                    }
                }

                img {
                    display: block;
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 200px;
                    max-height: auto;
                    object-fit: cover;
                    scale: 1;
                    transition: var(--transition);
                }

                .defaultPoster {
                    width: 100%;
                    height: 50px;
                    fill: var(--text-semi);
                    align-self: center;
                    justify-self: center;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--card-overlay);
                    transition: var(--transition);
                }

                .info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 20px;
                    transition: var(--transition);

                    .title {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 8px;
                        color: var(--card-text);
                        text-shadow: var(--card-title-shadow);
                    }

                    .details {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--card-year-text);

                        .amount {
                            background: var(--card-amount-background);
                            border: var(--card-amount-border);
                            padding: 4px 8px;
                            border-radius: var(--border-radius-inner);
                            font-size: 12px;
                            color: var(--card-amount-text);

                            /* not used but still handy so eh */
                            &.red {
                                background: rgba(233, 14, 14, 0.2);
                                border: 1px solid rgba(233, 14, 14, 0.3);
                                color: #e90e0e;
                            }

                            &.yellow {
                                background: rgba(233, 160, 14, 0.2);
                                border: 1px solid rgba(233, 175, 14, 0.3);
                                color: #e9af0e;
                            }
                        }
                    }
                }

                .downloadButton {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    width: 44px;
                    height: 44px;
                    background: var(--element-border-hover);
                    border: none;
                    border-radius: var(--border-radius-inner);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    opacity: 0;
                    scale: 0.8;
                    transform: translateY(-10px);
                    transition: var(--transition);

                    svg {
                        width: 20px;
                        height: 20px;
                        stroke: var(--text);
                        fill: none;
                    }
                }
            }
        }

        #emptyMessage {
            text-align: center;
            padding: 80px 20px;
            margin-top: -80px;
            font-size: 18px;
            color: var(--text-semi);

            svg {
                fill: var(--text-semi);
                scale: 2;
                /* i thought it was small idk */
            }
        }
    }
}

#queueSidebar.open~main {
    /* absolutely no clue why but setting the provider picker margin half that of main works for some reason */
    margin-right: 400px;
}

#queueSidebar.open~main #providerPicker {
    margin-right: 200px;
}

#queueSidebar {
    position: fixed;
    top: 0px;
    right: -400px;
    width: 400px;
    height: 100dvh;
    background: var(--sidebar-background);
    backdrop-filter: var(--blur);
    border-left: var(--element-border);
    transition: var(--transition-sidebar);
    z-index: 90;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &.open {
        right: 0;
        box-shadow: var(--sidebar-shadow);
    }

    .queueHeader {
        padding: 24px;
        border-bottom: var(--element-border);
        backdrop-filter: var(--blur);
        height: 85px;
        position: sticky;
        top: 0;
        background: var(--sidebar-background);
        z-index: 1;
        flex: 0 0 auto;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: var(--text);
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    #queueList {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 16px;

        .queueItem {
            background: var(--element-background);
            border: var(--element-border);
            border-radius: var(--border-radius-inner);
            padding: 16px;
            margin-bottom: 12px;
            transition: var(--transition);

            .queueTitle {
                font-size: 20px;
                font-weight: 600;
                color: var(--text);
            }

            .queueStatus {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: var(--text-semi);
                font-weight: 500;
                margin-bottom: 6px;
            }

            .queueButtons {
                text-align: right;
                min-width: 100%;
                padding-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                button {
                    background: var(--element-background);
                    border: var(--element-border);
                    color: var(--text);
                    padding: 12px 24px;
                    border-radius: var(--border-radius-inner);
                    cursor: pointer;
                    transition: var(--transition);

                    &:hover {
                        background: var(--element-background-hover);
                        border-color: var(--element-border-hover);
                    }
                }
            }
        }
    }

    #settings {
        padding: 24px;
        border-top: var(--element-border);
        backdrop-filter: var(--blur);
        position: sticky;
        height: 85px;
        bottom: 0;
        background: var(--sidebar-background);
        z-index: 1;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        button {
            background: var(--element-background);
            border: var(--element-border);
            color: var(--text);
            padding: 10px;
            border-radius: var(--border-radius-inner);
            cursor: pointer;
            transition: var(--transition);
            display: flex;
            align-content: center;
            justify-content: center;
            width: 52px;
            height: 52px;

            &:hover {
                background: var(--element-background-hover);
                border-color: var(--element-border-hover);
            }

            &:disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            svg {
                width: 24px;
                height: 24px;
                fill: var(--text);
                transform: translateY(2px);
                /* is it slightly off center for no reason */
            }
        }
    }
}

#toastContainer {
    position: fixed;
    bottom: 24px;
    left: 24px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .toast {
        background: var(--element-background);
        border: var(--element-border);
        backdrop-filter: var(--blur);
        border-radius: var(--border-radius-inner);
        padding: 16px 20px;
        min-width: 300px;
        max-width: 400px;
        color: var(--text);
        box-shadow: var(--toast-shadow);
        transform: translateX(-420px);
        animation: var(--toast-animation);
    }
}

#wsIcon {
    position: fixed;
    bottom: 24px;
    right: 24px;
    fill: var(--ws-connected);
    opacity: 0.6;
    transition: var(--transition);
    z-index: 999;
    pointer-events: none;
    opacity: 1;

    &.disconnected {
        fill: var(--ws-disconnected);
        opacity: 1;
        animation: var(--ws-disconnected-animation);
    }
}

@keyframes slideIn {
    30% {
        transform: translateX(0);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        scale: 0.8;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

@media (max-width: 850px) {
    header {
        height: 50px;
        padding: 16px;
        top: 5px;

        .logo {
            height: 45px;
            width: 45px;
        }

        .sidebarToggle {
            min-width: 45px;
            min-height: 45px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    #queueSidebar.open~main #providerPicker {
        /* resetting that nasty css here because otherwise the provider picker will be shoved off screen on mobile */
        margin-right: 0px;
    }

    main {
        .searchArea {
            margin-top: 8px;
            width: calc(100% - 140px);
            top: 8px;

            #searchQuery {
                height: 45px;
                z-index: -1;
            }

            #searchQuery:focus {
                width: 100%;
            }

            #searchIcon {
                left: 12px;
            }

            #providerButton {
                width: 35px;
                height: 35px;
                right: 6px;
            }
        }

        #providerPicker {
            width: 95%;
            padding-top: 65px;
        }

        #searchResults {
            flex-direction: row;
            object-fit: cover;

            .cardContainer {
                max-width: 1200px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 24px;
                padding-bottom: 40px;

                .card {
                    /* i REALLY want to make sure the cards are not weirdly scaled */
                    min-height: 150px;
                    height: 150px;
                    max-height: 250px;
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;

                    &:hover img {
                        scale: 1;
                    }

                    img {
                        min-width: 40%;
                        width: 40%;
                        height: auto;
                        min-height: 150px;
                        object-fit: cover;
                    }

                    .defaultPoster {
                        width: 40%;
                    }

                    .overlay {
                        display: none;
                    }

                    .info {
                        bottom: unset;
                        top: 0;
                        left: 40%;
                        right: 0;
                        height: 100%;
                        padding: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .title {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                    }

                    .downloadButton {
                        left: 16px;
                        right: unset;
                    }
                }
            }
        }
    }

    #queueSidebar.open~main {
        margin-right: 0px;
    }

    #queueSidebar {
        right: -80dvw;
        width: 80dvw;

        .queueHeader {
            padding: 16px;
            height: 60px;

            h2 {
                font-size: 16px;
            }
        }

        #queueList {
            padding: 16px;

            .queueItem {
                .queueTitle {
                    font-size: 14px;
                }

                .queueStatus {
                    font-size: 10px;
                }

                .queueUpdate {
                    font-size: 12px;
                }

                .queueButtons {
                    button {
                        padding: 8px 20px;
                    }
                }
            }
        }

        #settings {
            padding: 8px;
            height: 60px;

            button {
                padding: 10px;
                width: 45px;
                height: 45px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    #toastContainer {
        left: 12px;
        gap: 10px;

        .toast {
            max-width: 300px;
            font-size: 12px;
        }
    }
}